body{
	background-color:rgb(241, 250, 255);
	color:rgb(0, 0, 0);
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.box{
	border: px solid black ;
	background-color:ivory;
	border-radius: 15px;
	width:80%;
	margin:10px auto;
    overflow:hidden;
	padding: 10px;
	box-sizing: border-box;
	box-shadow: 0 2px 5px rgb(0, 0, 0);
}

.container{
	width:100%;
	margin:auto;
    overflow:hidden;
	padding: 10px;
}

#main-header{
	background-color:rgb(241, 250, 255);
    color:black;
}

#main-header h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
    text-align: center;
    font-size: 50px;
}

#navbar{
	background-color:rgb(2, 0, 56);
	color:#fff;
	font:bold 12px Arial, Helvetica, sans-serif;
    text-align: center;
	border-radius: 15px;
	margin-bottom: 10px;
	box-shadow: 0 2px 5px rgb(0, 0, 0);
}

#navbar ul{
	padding:0;
	list-style: none;
}

#navbar li{
    float: left;
    width: 20%;
    display:inline;
}

#navbar a{
	color:#fff;
	text-decoration: none;
	font-size:16px;
    text-shadow: 0 1px 1px rgba(238, 238, 238, 0.1);
    margin: 0 20px auto;
    line-height: 2;
    text-transform: uppercase;
    white-space: nowrap;
}

#navbar a.selected {
    color: #c4c2c2;
    background-color: rgb(6, 155, 155);
    border-radius: 20px;
    padding: 10px 15px;
    margin: 0 5px auto;
}

#navbar a:hover{
	color: yellow;
}

.showcase{
	padding: 10px;
	text-align: center;
}

.showcase h3{
	color: rgb(39, 39, 39);
	font-size : 40px;
	padding-top:10px;
	font-style: oblique;
}

.tab{
	color:#fff;
	font:bold 12px Arial, Helvetica, sans-serif;
    text-align: center;
	margin-bottom: 10px;
}

.tab ul{
	padding:20 px;
	list-style: none;
}

.tab li{
    float: left;
    width: 26.66%;
    display:inline;
    background-color:rgb(2, 0, 56);
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
    margin: 25px;
}

.tab a{
	color:#fff;
	text-decoration: none;
	font-size:16px;
    text-shadow: 0 1px 1px rgba(238, 238, 238, 0.1);
    margin: 0 20px auto;
    line-height: 2;
    text-transform: uppercase;
    white-space: nowrap;
}

.tab a:hover{
    color:yellow;
}

#main-footer{
	background: black;
	color:#fff;
	text-align: center;
	padding:20px;
	margin-top:40px;
}

@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}

	#sidebar{
		width:100%;
		float:none;
	}
}